In [5]:
print("I am going college for \nlearning nlp")

I am going college for
learning nlp

In [3]:
print("I am going \ncollege for \nlearning nlp")

I am going
college for
learning nlp

In [7]:
#SPACE(\t)
print("I am going to \ncollege for \tlearning nlp")

I am going to
college for 	learning nlp

In [13]:
#carriage return(\r)
print("I am going college for\rlearning nlp")

learning nlpollege for

In [27]:
print("I am going college for \rlearning nlp          ")

learning nlp

In [41]:
#re.match() retrives only starting number(\d+=digits)
import re
string="007 james bond wants to learn the python"
pattern=r'\d+'
matching=re.match(pattern,string)
matching.group()

'007'

In [43]:
#re.match() used to get the number which comes first
import re
string="james bond wants 005 to 006 learn the python"
pattern=r'\d+'
matching=re.search(pattern,string)
matching.group()

'005'

In [45]:
#re.findall()
import re
string="james bond wants 005 to 0008 anf 10000 learn the python"
pattern=r'\d+'
matching=re.findall(pattern,string)
matching

['005', '0008', '10000']

In [53]:
#re,sub-to make changes where ever you want to
import re
string="james bond wants 005 to 0008 anf 10000 learn67 the python"
pattern=r'\d'
matching=re.sub(pattern,'#',string)
matching

'james bond wants ### to #### anf ##### learn## the python'

In [59]:
# Test case
text = """
Hello world! Contact us at info@example.com or support123@company.org. support123@company.ac.in Follow us on social media: #AI #MachineLearning.
Visit <a href="http://example.com">our website</a> for more details. This is a test with numberÂ 1234.
"""
Email = r'[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'
ext=re.findall(Email,text)
print(ext)

['info@example.com', 'support123@company.org', 'support123@company.ac.in']

In [ ]:
hash_tags=re.findall(r'#\w+')